@model IEnumerable<MaiB2004790_TTTT.Models.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh mục Khách Hàng</h1>

<p>
    <a asp-action="Create">Thêm Khách hàng mới</a>
</p>

<form asp-controller="KhachHangs" asp-action="Index">
    <p>
        Tìm kiếm: <input type="text" name="SearchString" />
        <input type="submit" value="Lọc" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
             @Html.DisplayNameFor(model => model.Tên)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Họ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sđt)
            </th>
            <th>
               Địa Chỉ 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tên)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Họ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sđt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ĐịaChỉ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
